.companyCard {
  min-width: 200px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #2a2a2a;
  text-align: center;
  transition: 0.3s ease;
  scroll-snap-align: start;
}

.companyCard:hover {
  border-color: #00e5ff;
  box-shadow: 0 12px 24px rgba(0, 229, 255, 0.15);
  cursor: pointer;
}

.logoContainer {
  background: #2a2a2a;
  width: 55px;
  height: 55px;
  margin: 0 auto 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  width: 28px;
}

.companyType {
  background: #ff7b0020;
  color: #ff7b00;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 0;
}

.expCount {
  font-size: 13px;
  color: #aaa;
}