.placementContainer {
  padding: 60px;
  min-height: 100vh;
}

.experienceCard {
  background: #1e1e1e;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 14px;
  border: 1px solid #2a2a2a;
  transition: 0.3s ease;
}

.experienceCard:hover {
  transform: translateY(-5px);
  border-color: #00e5ff;
  box-shadow: 0 10px 25px rgba(0, 229, 255, 0.15);
}

.loadingText,
.endText {
  text-align: center;
  margin-top: 30px;
  color: #aaa;
}
.sectionTitle {
  margin: 60px 0 30px;
  font-size: 24px;
  font-weight: 600;
}